.highLights {
   position: relative;
   top: -10.5rem;
   left: 8.5rem;
   background-color: orange;
   padding: 2px;
   width: 150px;
   border-radius: 10px;
}

/* @media only screen and (max-width: 1360px) {
   .home_section{
      height: 100vh;
   }
} */